*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

html,body{
	height: 100%;
	background: #FAF9FC;
}

textarea{
	width: 100%; 
	padding: 0.5%;
	resize: none;
}


.clear{clear: both;}

.center{
	display: flex;
	justify-content: center;
}


.placeholder-color::placeholder{
	color: #6D3BB8;
}

.placeholder-colorBUSCA{
	text-align: center;
	width: 40%;
  margin-left: 30%;
	padding: 1%; 
	border: 3px solid #6D3BB8; 
	border-radius: 30px;
}

.placeholder-colorBUSCA2 {
	text-align: center;
	width: 410px;;
	padding:0.8%;
	border: 3px solid #6D3BB8;
	border-radius: 30px;
	margin-top: 5px;
}


div.sidebar{
	background: #2D3035;
	height: 100%;
	width: 15%;
	float: left;
}

div.displayFlex{
	display: flex;
}

div.sidebar2{
	background: #2D3035;
	width: 15%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
}

div.usuariosOnline{
	text-align: center;
}

div.topo{
	background: #26282D;
	text-align: center;
	padding: 20px 10px;
}

div.topo h3{
	color: white;
}

div.menu{
	padding: 30px;
}

div.menu ul{list-style-type: none;}

div.menu li{
	font-size: 18px;
	color: #717171;
	margin-bottom:20px;
}

div.menu ul li a{
	font-size: 18px;
	color: #717171;
	text-decoration: none;
}

div.menu li:hover i{
	transition: 0.6s;
	color: #6D3BB8;
}

div.menu li:hover a{
	transition: 0.6s;
	color: white;
}

div.menu-icon{
	display: none;
}

div.menu2 {
	display: none;
}

div.menu2 li{
	border: 3px solid #ddddde;
	margin: 0 15px 1px 0;
}

div.menu2 li:hover{
	background-color: #dbdbdc;
}

div.menu2 li:hover i{
	text-align: center;
	transition: 0.4s;
	color: #6D3BB8;
}
div.menu2 a{
	font-weight: bolder;
	color: #2D3035;
}

div.main-content{
	display: flex;
	height: 100%;
}

div.main-content2{
	width: 85%;
	max-height: 100vh;
	margin-left: 15%;
}

header{
	height: 90px;
	background: white;
	padding: 20px 15px;
	border-bottom: 2px solid #ccc;
	display: none;
}

.pesquisa-campo{
	float: right;
}

.icone-pesquisa{
	background: #D6D6D6;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	display: inline-block;
	vertical-align: middle;	
}

.icone-pesquisa i{position: relative;top: 5px;}

.pesquisa-campo form{
	vertical-align: middle;
	display: inline-block;
}
.pesquisa-campo input[type=text]{
	width: 200px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	border-left: 0;
	border-top:1px solid rgb(220,220,220);
	border-right: 1px solid rgb(220,220,220);
	border-bottom:1px solid rgb(220,220,220);
	padding-left: 10px;
	font-size: 16px;
}

.pesquisa-campo input[type=text]:focus{
	outline: 0;
}

.icone-alerta{
	cursor: pointer;
	background: #FBEDEF;
	width: 30px;
	height: 30px;
	margin-right: 28px;
	float: right;
	text-align: center;
	position: relative;
}

.icone-alerta p{
	position: absolute;
	left: -8px;
	top: -8px;
	display: inline-block;
	background: #ED7387;
	color: white;
	padding:3px;
	font-size: 12px;
}

.icone-alerta i{
	line-height: 30px;
	font-size: 18px;
	color: #ED7387;
	font-weight: bold;
}

.nome-usuario{
	float: left;
}

.nome-usuario h2{
	margin-top: 8px;
	font-weight: normal;
	font-size: 23px;
	color:#A7A7A7;
	cursor: pointer;
}

.content1{
	float: left;
	width: 70%;
	padding:0 30px;
	overflow-y: auto;
	overflow-x: hidden;
}

.content2{
	float: left;
	width: 100%;
	padding:0 30px;
	overflow-y: auto;
	color: #2D3035;
	height: 100%;
}

.content2 h1,h2,h3,h4{
	color: #2D3035;
	font-weight: normal;
}

.panel{
	margin: 10px 0 10px;
	padding: 15px;
	width: 100%;
	/* float: left; */
	border: 2px solid #dbdbdb;
}

.aviso{
	width: 33%;
}

.aviso button{
	cursor: pointer;
}

.flex33{
	display: flex;
	flex-wrap: wrap;
}

button.more{
	display: flex;
	font-size: 20px;
	background-color: #2D3035;
	color: white;
	width: 300px;
	height: 40px;
	border-radius: 4px;
	justify-content: center;
	align-items: center; 
	margin: 0 auto; 
}

button.more2 {
	font-size: 17px;
	background-color: #2D3035;
	color: white;
	width: 200px;
	height: 40px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

button.more2:hover {
	background-color: #6D3BB8;
	border-radius: 30px;
	transition: 0.3s;
	cursor: pointer;
	}

button.more:hover {
background-color: #6D3BB8;
border-radius: 30px;
transition: 0.3s;
cursor: pointer;
}

.panel a{
	color: white;
	text-decoration: none;
}

.panel ul{
	list-style-type: none;
}

.panel h2{
	color: #7F7F7F;
	font-size: 24px;
	font-weight: normal;
}

.panel h2 #editProfileBtn{
	color: #717171;
}

.panel h2 #editProfileBtn{
    color: #717171;
    transition: transform 0.5s ease;
}

.panel h2 #editProfileBtn:hover{
	color: #6D3BB8;
  transform: rotate(180deg);
}

#editProfileText {
	position: relative;
	cursor: pointer;
}

#editProfileText::after{
	content: 'Editar perfil';
	position: relative;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	color: #333;
	padding: 10px;
	transition: right 0.3s ease-out;
	visibility: hidden;
	font-weight: normal;
}

#editProfileText:hover::after{
	right: 0;
	visibility: visible;
}


.panel p{
	font-size: 17px;
	color: #000000;	
	margin-top:10px;
}

.panel2{
	margin: 10%;
	padding:20px;
	float: left;
	border:2px solid #EBEBEB;
	width: 500px;
	height: 50%;
	background: #fff;
	text-align: center;
}


.panel2 input[type=text],[type=password],[type=email]{
	width: 300px;
	height: 50px;
	padding: 1%;
	margin: 1%;
	border: 3px solid #2D3035;
	border-radius: 20px;
}

.panel2 input[type=submit]{
	font-size: 20px;
	background-color: #2D3035;
    color: white;
    width: 200px;
    height: 40px;
	border-radius: 4px;
}

.panel2 input[type=submit]:hover{
	font-size: 20px;
	font-weight: bold;
	background-color: #6D3BB8;
	border-radius: 30px;
	transition: 0.3s;
}

.ultimas-atividades{
	width: 30%;
	background: #EAEBEB;
	padding: 20px 40px;
	overflow-y:hidden;
	/* height: 100vw; */
}

.atividades-topo h2{
	color: #7F7F7F;
	font-size: 23px;
	font-weight: normal;
	padding:15px;
	border-bottom: 1px solid #ccc;
}

.atividade-registro{
	position: relative;
	padding:15px 20px;
	border-left: 1px solid #BBBBBB;

}

.circle-atividade{
	position: absolute;
	left: -10px;
	top: 35px;
	width: 20px;
	height:20px;
	border-radius: 10px;
	background: #E9EBEB;
	border: 1px solid #CCCCCC;
}
.atividade-registro h2{
	color: #BBBBBB;
	font-size: 19px;
	font-weight: normal;
}

.atividade-registro p{
	color: #000000;
	font-weight: 600;
}

.atividade-registro p:nth-child(2){
	color: #7d7d7d;
	font-weight: 400;
}

.add-comment button{
	width: 250px;
	height: 40px;
	border-radius: 4px;
	border: none;
	background: #2d3035;
	color: white;
	/*margin: 0 35%;*/
	font-size: 18px;
	cursor: pointer;
}
.add-comment button:hover{
	background-color: #6D3BB8;
	border-radius: 30px;
	transition: 0.3s;
}

.flash-message{
	padding: 10px;
	margin: 0 3% 0 20%;
	border: 1px solid;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	}

.error{
	background-color: #ffcccc;
	border-color: #ff3333;
	color: #ff3333;
	}
  
.success{
	background-color: #ccffcc;
	border-color: #33cc33;
	color: #33cc33;
	}
  
.close-btn{
	border: none;
	background: none;
	cursor: pointer;
	}

.resultadosFlex{
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
}

.w80{
	width: 80%;
}

.resultadosFlex > .w80 > h1{
	margin-left: 25%;
}

.w20{
	width: 20%;
}

.w8{
	width: 90%;
}

.w10{
	width: 10%;
	margin-left: 75%
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s ease;
	backdrop-filter: blur(5px);
}

.modal-content {
	background-color: white;
	margin: 20% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	text-align: center;
}

.closeModal {
	float: right;
	cursor: pointer;
}

.modal button{
	margin: 0;
}

.modal button:nth-last-child(1){
	color: black; 
	background-color: #b7b7b7;
}

.modal button:nth-last-child(1):hover{
	background-color: #878787;
	color: white;
}


button.deleteProfileBtn {
	border-color: #dddddd;
	color: red;
	cursor: pointer;
	font-weight: 500;
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

button.deleteProfileBtn:hover {
	color: #ff0000; 
	border: 1px solid #ff0000;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); 
}

button.statusBtnGreen {
	color: green;
}

button.statusBtnGreen:hover {
	color: green; 
	border: 1px solid green;
	box-shadow: 0 0 10px rgba(5, 161, 75, 0.5); 
}

.buttons{
	display: flex;
	justify-content: space-between;
	margin: 0 10%;
}

.buttons span{
	width: 250px;
	height: 40px;
	border-radius: 30px;
	border: none;
	background: #2d3035;
	color: white;
	margin: 0 35%;
	font-size: 18px;
	cursor: pointer;
}

.opcoesComentarios{
	float: right;
	cursor: pointer;
}

.opcoesComentarios i{
	font-size: 22px;
}

.pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8px;
}

.pagination div{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.pagination div:not(.numbers),
.pagination div.numbers div{
	width: 40px;
	height: 40px;
}

.pagination div:not(.numbers):hover,
.pagination div.numbers div:hover,
.pagination div.numbers div.active{
	color: hsl(32, 98%, 56%);
}


#chat{
	padding-bottom: 4%
}

#form{
	background: rgba(0, 0, 0, 0.15); 
	padding: 0.25rem; 
	position: fixed; 
	bottom: 0; 
	right: 0; 
	display: flex; 
	width: 85%; 
	height: 3rem; 
	box-sizing: border-box; 

	backdrop-filter: blur(10px); 
}
#input{
	border: none;
	 padding: 0 1rem; 
	 flex-grow: 1; 
	 border-radius: 2rem; 
	 margin: 0.25rem;
	}
#input:focus{ 
	outline: none; 
}

#form > button{
	background: #333; 
	border: none; 
	padding: 0 1rem; 
	margin: 0.25rem; 
	border-radius: 3px; 
	outline: none; 
	cursor: pointer;
}

#form > button:hover{
	transition: 100ms;  
	background: #000000;

}

#form > button > h2{
	color: white;
}

#form > button > h2:hover{
	transition: 100ms; 
	color: #6D3BB8;
}

#messages{
	display: flex; 
	flex-direction: column; 
	list-style-type: none;
}

#messages > li{
	background-color: #EAEBEB; 
	border-radius: 20px; 
	margin: 7px; 
	padding: 0.5rem 1rem;
}

#messages .mensagemUsuarioAtual{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-content: flex-end;
	flex-wrap: wrap;
}

#moreMessage{
	text-align: center;
}

#online-users-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	justify-content: space-around;
}

p.btn_x{
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.btn-x:hover{
	font-size: 17px;
}

.passwordRegiter{
	margin-bottom: 0;
	font-size: 12px;
	line-height: 15px;
	display: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

.hoverColorPanel:hover{
	background-color: rgba(125, 122, 122, 0.5);
}

#h2Professores, #h2Alunos{
	cursor: pointer;
}

#tbProfessores, #tbAlunos{
	display: none;
}

.no-select{
  -webkit-user-select:none;  
  -moz-user-select:none;     
  -ms-user-select:none;      
  user-select:none;  
} 

.no-active{
	background: #dbdbdb
}

.no-active button{
	display: none;
}

#tbProfessoresPHONE{
	display: none;
}
#tbAlunosPHONE{
	display: none;
}

#tbProfessoresPC{
	display: none;
}
#tbAlunosPC{
	display: none;
}

.placeholder-b8b6b6:hover{
	background-color: #b8b6b6;
}

a.hoverColor{
	font-weight: 500;
	color: black;
}

a.hoverColor:hover{
	color: #6D3BB8;
	border: 2px solid #858181;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(125, 122, 122, 0.5); 
}



@media screen and (max-width: 900px){
	header{display: block;}
	.ultimas-atividades{display: none;}
	.panel{width: 100% !important;}
	.sidebar, .sidebar2{
		display: none;
		position: relative;
		z-index: 9999;
		width: 50%!important;
		float: none;
		transition: width 0.3s ease!important;
	}
	div.content1{
		width: 100%;
	}
	div.menu-icon{
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
	}
	.modal button{
		width: 100%;
	}
	.buttons{
		display: flex;
		flex-direction: column;
	}
	.modal button:nth-last-child(1){
		margin: 2% 0;
	}
	input.placeholder-color{
		margin: 3% 0 0 0!important;
		padding: 3% !important;
		width: 100%;
	}
	.panel2{
		width: 100%;
		margin: 0;
		padding: 0;
		float: none;
	}
	#form{
		width: 100%;
	}

	div.main-content2{
		width: 100%;
		margin-left: 0;
	}
}

@media screen and (max-width: 500px){
	.sidebar{
		width: 70%!important;
		transition: width 0.3s ease!important;
	}
	input.placeholder-colorHome{
		width: 130% !important;
		padding: 6% !important;
		margin: 0 -16% !important;
	}
	.placeholder-colorBUSCA{
		margin: 1% 5% !important;
		padding: 3% !important;
	}

	.placeholder-colorBUSCA2 {
		width: 100%
	}
	.panel button.more{
		font-size: 18px;
		width: 100%;
    height: 50px;
	}
	.add-comment button {
		margin: 0;
	}
	.panel:not(.pagination){
		flex-direction: column
	}
	.panel2 input[type=text],[type=password],[type=email]{
		width: 80%;
		height: 50px;
		margin: 1%;
		border: 3px solid #2D3035;
		border-radius: 20px;
	}
	.resultadosFlex{
		flex-direction: column;
	}
	.resultadosFlex > .w80 > h1{
		margin-left: 0;
	}
	.w20{
		width: 100%;
	}
	#messages{
		padding-bottom: 8%;
	}
	.modal-content {width: 100%;}
	.avisos h2{margin-bottom: 6% !important;}

	th, td{
		display: block;
		width: 100%;
		box-sizing: border-box;
	}

	th{
		text-align: center;
	}

	#tbProfessoresPHONE tr{
		border: 2px solid black;
	}

	#tbAlunosPHONE tr{
		border: 2px solid black;
	}
}
