<%- include('partials/header.html') %>

<% if (flashMessages.error) { %>
    <div class="flash-message error-message error">
      <%= flashMessages.error %>
      <button class="close-btn" onclick="closeFlash(this)">❌</button>
    </div>
  <% } %>
  
  <% if (flashMessages.success) { %>
    <div class="flash-message success-message success">
      <%= flashMessages.success %>
      <button class="close-btn" onclick="closeFlash(this)">❌</button>
    </div>
  <% } %>
  
  <div class="center">
    <div class="panel2" style="margin: 0;">
        <h1>Editar Perfil Do Aluno</h1>
        <br>
        <form method="post" action="/<%= aluno.id %>/editAluno/" class="add-comment">
          <h2>Nome</h2><input type="text" name="name" value="<%= aluno.name %>">
          <h2>Sobrenome</h2><input type="text" name="surname" value="<%= aluno.surname %>">
          <h2>Identificador aluno</h2><input type="text" name="id_aluno" value="<%= aluno.id_aluno %>">
          <br><br>
          <button style="margin: 0 auto;">Confirmar</button>
        </form>
        <br><br><br>
        <button class="deleteProfileBtn">Excluir Cadastro</button>
        <form action="/<%= aluno.id %>/deleteAluno/" class="add-comment">
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="closeModal">❌</span>
              <p style="color: #2d3035;font-size: 20px;" id="textModal">Você tem certeza de que deseja excluir esse aluno?</p>
              <br><br>
              <div class="buttons">
                <button id="confirmBtn">Confirmar</button>
                <button type="button" class="btnVoltar">Voltar</button>
              </div>
            </div>
          </div>
        </form>
    </div>
</div>

<script>
  const deleteUser = document.querySelector(".deleteProfileBtn");
  const modal = document.getElementById("myModal");
  const confirmBtn = document.getElementById("confirmBtn");
  const closeModal = document.querySelector(".closeModal");
  const btnVoltar = document.querySelector('.btnVoltar');

  deleteUser.addEventListener("click", (e)=>{
    e.preventDefault();
    modal.style.display = "block";
  });

  btnVoltar.addEventListener("click", ()=>{
    modal.style.display = "none";
  });

  closeModal.addEventListener("click", ()=>{
    modal.style.display = "none";
  });

  window.addEventListener("click", (event)=>{
    if (event.target === modal){
      modal.style.display = "none";
    }
  });
</script>

<%- include('partials/footer.html') %>