<%- include('partials/header.html') %>
<% if (flashMessages.error) { %>
    <div class="flash-message error-message error">
      <%= flashMessages.error %>
      <button class="close-btn" onclick="closeFlash(this)">❌</button>
    </div>
  <% } %>
  
  <% if (flashMessages.success) { %>
    <div class="flash-message success-message success">
      <%= flashMessages.success %>
      <button class="close-btn" onclick="closeFlash(this)">❌</button>
    </div>
  <% } %>
  
    <div class="center">
        <div class="panel2">
            <h1>Cadastrar Professor(a)</h1>
            <br>
            <form method="post">
                <input type="text" name="name" placeholder="Seu nome">
                <br>
                <input type="text" name="apelido" placeholder="Como deseja ser chamado/apelido?">
                <br>
                <input type="text" name="materia" placeholder="Matéria Lecionada">
                <br>
                <input type="email" name="email" placeholder="E-mail">
                <br>
                <input type="password" name="password" placeholder="Sua Senha">
                <br>
                <input type="password" name="confirmpassword" placeholder="Confirme sua senha">
                <br>
                <input type="submit" name="acao" value="Cadastrar">
            </form>
        </div>
    </div>
<%- include('partials/footer.html') %>